@charset "UTF-8";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h3 {
  display: inline-block;
}

#page-wrapper {
	padding-top: 50px;
}

#graph-container {
	width: 800px;
	height: 800px;
  border: 1px solid black;
	/*margin: auto;*/
  float: left;
}

#controller-container {
  float: left;
  font-size: 18px;
}

.sign {
  max-width: 25px;
  max-height: 25px;
  width: auto;
  height: auto;
  cursor: pointer;
}

.flow {
  display: inline-block;
  padding: 5px;
  font-size: 26px;
  font-style: italic;
}
